body,
html,
#root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  background: rgba(18, 18, 18, 0.9);
}

.Flex {
  display: flex;
  align-items: center;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.Header input,
.Header h1 {
  font-size: 5vw;
  color: white;
  text-align: center;
  font-weight: normal;
  padding: 10px 20px;
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.Header input {
  background: transparent;
  border: 1px solid white;
  border-radius: 30px;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  width: 50vw;
}

.Header input:focus {
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

.Footer,
.Header {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.Header {
  top: 10%;
}

.Footer {
  bottom: 20px;
}

.Footer button {
  background: transparent;
  color: white;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
  margin: 5px;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.Smile {
  width: 21%;
  padding-bottom: 21%;
  border-radius: 300px;
  margin: 2%;
  border: none;
  transition: background 0.15s cubic-bezier(0.33, 0.66, 0.66, 1);
  display: flex;
  justify-content: center;
  position: relative;
}

.Smile svg {
  width: 25%;
  height: auto;
  min-width: 30px;
  fill: rgba(18, 18, 18, 0.9);
}

.Smile > div {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 50px;
}

.Smile.A {
  background: green;
}

.Smile.C {
  background: yellow;
}

.Smile.E {
  background: orange;
}

.Smile.F {
  background: red;
}

.Smile:focus,
button:focus {
  outline: none;
}

button:active {
  background: rgba(255, 255, 255, 0.1);
}

button.Smile:active {
  filter: opacity(50%);
}
